.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #a82f2f;
  padding: 10px;
}
img{
  width: 80px;
  height: 50px;
}

.navbar-logo a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0; /* Hide the links by default */
  overflow: hidden; /* Hide any overflowing content */
  transition: height 0.3s ease-in-out; /* Add a smooth transition */
}

.navbar-links.active {
  height: auto; /* Show the links when active */
}

.navbar-links a {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
}

.navbar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar-toggle-icon {
  width: 26px;
  height: 2px;
  background-color: #f2f2f2;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggle-icon:nth-child(1) {
  transform: translateY(-7px);
}

.navbar-toggle-icon:nth-child(3) {
  transform: translateY(7px);
}


@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }
  
  .navbar-logo a {
    margin-right: auto; 
    /* Push the logo to the left */
  }
  
  .navbar-links {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  
  .navbar-links a {
    margin: 0 10px;
  }
  
  .navbar-toggle {
    display: none;
  }
  img{
  width: 50px;
  height: 30px;
}
}
